/* Large Devices */
@media screen and (max-width: 1200px) { 
    .main_header{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .layout_logo{
        max-width: 100%;
        width: auto;
        margin: 0px;
        margin-top: 40px;
    }
    .layout_main_menu{
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0px;
        margin-top: 40px;
    }
    #main_menu > nav{
        width: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .layout_main_menu > nav > a{
        margin-left: 0px;
        max-width: 100%;
    }
    .layout_main_menu > span{
        width: auto;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .s1_c1 > h1{
        font-size: 3.5em;
    }

    .section_2 > h4{
        font-size: 2.5;
    }
    .layout_tld > img{
        width: 500px;
    }

    .container_boxes{
        justify-content: center;
    }
}