:root{
    /* Colors */
    --color-white: #FFF;
    --color-black: #000;
    --color-azulrey: #212ABE;
    --color-azulmarino: #1A1A63;
    --color-azulverdoso: #01ABB6;
    --color-naranja: #FA5F4F;

    /* Fonts */
    --font-family-poppins: Poppins;
    --font-family-works: Work Sans;
    --font-family-roboto: Poppins;

}

*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: var(--color-white);
    font-size: 1em;
    font-family: var(--font-family-roboto);
}
html{
    font-size: 100%;
}
p{
    font-size: 1em;
}

/* XXL */

h1{
    font-family: var(--font-family-poppins);
    font-size: 4.5em;
    color: var(--color-black);
}

/* XL */
@media screen and (max-width: 1432px) { 
    h1{
        font-family: var(--font-family-poppins);
        font-size: 3.5em;
    }
}

/* LG */
@media screen and (max-width: 1200px) { 
    h1{
        font-family: var(--font-family-poppins);
        font-size: 2.5em;
    }
}

/* MD */
@media screen and (max-width: 992px) { 
    h1{
        font-family: var(--font-family-poppins);
        font-size: 2.2em;
    }
}

/* SM */
@media screen and (max-width: 768px) { 
    h1{
        font-family: var(--font-family-poppins);
        font-size: 2.0em;
    }
}

/* XS */
@media screen and (max-width: 576px) { 
    h1{
        font-family: var(--font-family-poppins);
        font-size: 1.8em;
    }
}