/* --------------- Section 1 Token --------------- */
.section_1_token{
    position: relative;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    background: transparent radial-gradient(ellipse at 20% 125%, var(--color-azulverdoso) 0%, var(--color-azulverdoso) 5%, var(--color-azulrey) 100%, var(--color-azulrey) 100%) 0% 0% no-repeat padding-box;
    background: transparent radial-gradient(ellipse at 20% 125%, #01ABB6 0%, #01ABB6 5%, #212ABE 100%, #212ABE 100%) 0% 0% no-repeat padding-box;
    padding-bottom: 50px;
}

.section_1_token::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--color-white);
    background-color: #FFF;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    z-index: 2;
    
}

.s1_c1_token{
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 0px 20px;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    justify-content: space-between;
}

.s1_c1_token div{
    width: 50%;
    margin:20px;
}

.img_s1{
        position: absolute;
        z-index: 3;
        top: 200px;
        left: -5%;
        width: 45%;
        max-width: 900px;
}

.c1_token_text{
    width: 50%;
    height: 100%;
    line-height : 72px;
    padding: 50px;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; 

}
.c1_token_text h2{
    font-size: 56px;
    color: #1F1FC1;
}
.c1_token_text p{
    font-size: 24px;
    color: #21C4FC;
}
/*---------- Section 2 token --------------- */

.s2_c2_token{
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: #1A1A63 ;
    padding: 120px;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
    align-items:center;
    left: 20px;
}

.s2_c2_token div{
    width: 50%;
}

.c2_token_text h2{
    font-size: 48px;
}

.c2_token_text p{
    color: #FFF;
}
.c2_token_text p a, .c4_token_text p a{
    color: #00C3FF;
    text-decoration: none;
}
.c2_token_img img{
    width: 700px;
}

.group_buttons2 > a{
    text-decoration: none;
}
.group_buttons2 > a > button{
    background-color: transparent;
    border: 1px solid var(--color-white);
    border: 1px solid #FFF;
    border-radius: 64px;
    padding: 15px 52px;
    color: var(--color-white);
    color: #FFF;
    font-family: var(--font-family-works);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 25px;
    transition: background 0.5s;
}
.group_buttons2 > a > button:hover{
    background-color: var(--color-naranja);
    background-color: #FA5F4F;
    border-color: var(--color-naranja);
    border-color: #FA5F4F;
}
.group_buttons2 > a > button > img{
    width: 25px;
    margin-right: 15px;
}

/*------------ Section 3 token ------------- */
.s3_c3_token{
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 0px 20px;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    justify-content: center;
}

.s3_c3_token div{
    margin:20px;
    box-sizing: border-box;
   
}
.s3_c3_token div h2{
    font-size:36px;
}

.c3_left_img, .c3_right_img{
    width: 400px;
}
.img_s3{
    left:-10px;
}

.text_c3{
    align-items: center;
    width: 800px;
    min-width: 600px;
    padding: 100px 20px;
}
.text_c3 h2{
    color: #1A1A63;
}

/*------------------------- */
.s4_c4_token{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0px 20px;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    justify-content: center;
    background-color: #1A1A63 ;
    padding: 50px;
}

.s4_c4_token div{
  
    width: 700px;
    padding: 25px;

}

.c4_token_text .hijo{
   padding: 20px;
   box-sizing: border-box;
   text-align: center;

}
.c4_token_text h2{
    font-size: 36px;
}

.c4_token_text p{
    color: #FFF;
}
.c4_token_text hr{
        width: 50%;
        height: 2px;
        background-color: #FFF;
        text-align: center;
        margin: auto;
}




/* --------------- Section 2 Token --------------- */


