.section_1{
    padding-bottom: 200px;
}
.section_2{
    width: 100%;
    top: -170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.section_2 > p{
    display: none;
}
.s2_img{
    width: 50%;
    background-color: transparent;
    text-align: left;
    align-self: center;
}
.s2_img > img{
    width: 80%;
}
.s2_content{
    background-color: transparent;
    width: 50%;
    text-align: left;
}
.s2_content > div{
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.s2_content > div > span{
    color: #21C4FC;
    font-size: 1.8em;
    font-weight: 100;
}
.s2_content > div > h1{
    color: #1F1FC1;
    line-height: 80px;
}
.s2_content > div > p{
    margin-left: 30px;
    margin-top: 20px;
    font-family: var(--font-family-works);
    color: #1A1A63;
    line-height: 1.5;
}
.section_3{
    width: 100%;
    height: 600px;
    top: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    padding-top: 10%;
    padding-bottom: 10%;
}
.section_3::before{
    height: 0px;
}
.section_3::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-color: var(--color-white);
    background-color: #FFF;
    clip-path: polygon(0% 100%, 100% 00%, 100% 100%);
    z-index: 1;
}
.s3_content > p{
    color: var(--color-white);
    font-family: var(--font-family-works);
}
.s3_content > p > a{
    color: #00C3FF;
    text-decoration: none;
}
.s3_content > p > a:hover{
    color: #00C3FF;
    text-decoration: underline;
}
.img_voxel{
    position: absolute;
    z-index: 3;
    top: 200px;
    right: -10%;
    width: 100%;
    max-width: 900px;
}
.s3_content{
    width: 80%;
    margin-left: 10%;
}



.s3_content2 > p{
    color: var(--color-white);
    font-family: var(--font-family-works);
    margin-left: 50px;
    margin-right: 50px;
}
.s3_content2 > p > a{
    color: #00C3FF;
    text-decoration: none;
}
.s3_content2 > p > a:hover{
    color: #00C3FF;
    text-decoration: underline;
}
.s3_content2 > hr{
    margin: 20px auto;
    width: 200px;
}
.img_voxel{
    position: absolute;
    z-index: 3;
    top: 200px;
    right: -10%;
    width: 100%;
    max-width: 900px;
}
.s3_content2{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
}
.h_auto{
    top: 100px;
    height: auto;
    padding-bottom: 15%;
}


.section_4{
    position: relative;
    width: 100%;
    text-align: center;
    height: auto;
    top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.section_4 > div{
    width: 800px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
}
.section_5{
    top: 0px;
}


/* XL */
@media screen and (max-width: 1432px) { 
    .s2_img{
        align-self: flex-start;
    }
    .s2_content > div{
        margin-top: 80px;
        margin-right: 100px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .s2_content > div > h1{
        line-height: 70px;
        font-size: 3.5em;
    }
    .section_2 > p{
        display: none;
    }
    .section_3{
        height: auto;
    }
    .group_buttons2{
        width: 250px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .img_voxel{
        position: relative;
        width: 80%;
        background-color: transparent;
        margin-left: 0px;
        top: 50px;
        right: unset;
        max-width: unset;
    }
    .s3_content{
        background-color: transparent;
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .card_profile{
        width: 220px;
        z-index: 1;
    }
    .s3_description{
        width: 70%;
    }
    .s3_profiles{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* LG */
@media screen and (max-width: 1200px) { 
    .section_2{
        flex-wrap: wrap;
    }
    .s2_content > div > h1{
        line-height: 50px;
        font-size: 2.5em;
    }
    .section_2 > p{
        display: block;
        background-color: transparent;
        margin: 50px 100px;
    }
    .s2_content > div > p{
        display: none;
    }
    .card_profile{
        width: 160px;
        z-index: 1;
    }
    .h_auto{
        padding-bottom: 25%;
    }
}

/* Medium Devices */
@media screen and (max-width: 992px) { 
    .s2_content{
        width: 100%;
        margin: 20px 100px;
        text-align: center;
        background-color: transparent;
        padding-right: 0px;
        padding-left: 0px;
    }
    .s2_img{
        text-align: center;
        width: 100%;
    }
    .s2_img > img{
        width: 30%;
    }
    .s2_content > div{
        background-color: transparent;
        margin-right: 0px;
        margin-top: 0px;
    }
    .s2_content > div > h1{
        font-size: 2.2em;
        line-height: normal;
    }
    .section_2 > p{
        margin-top: 0px;
    }
    .card_profile{
        width: 280px;
        z-index: 1;
    }
    .section_3{
        padding-top: 0px;
    }
}

/* SM */
@media screen and (max-width: 768px) { 
    .s2_content > div > h1{
        font-size: 2.0em;
    }
    .card_profile{
        width: 200px;
        z-index: 1;
    }
}

/* XS */
@media screen and (max-width: 576px) { 
    .s2_content > div > h1{
        font-size: 1.8em;
    }
    .group_buttons2{
        flex-wrap: wrap;
    }
}